.DS_Store
build/**
tools/linux/mercury/usr/sbin/mercury
tools/linux/mercury/var/mercury
tools/docker/*.crt
tools/docker/*.pem
tools/docker/*.key
tools/test/mercury.toml
tools/test/mercury-secondary.toml
