{{define "healthchecks"}}
{{template "header" dict "Page" .Page}}

<div id="itemlist" class="itemlist">
  <div class="searchbox">
   Search: <input type="text" class="search" placeholder="Search Backend" />
  </div>
  <!--
  <ul>
    <li>
      <div><button class="sort" data-sort="name">Sort by name</button></div>
      <div><button class="sort" data-sort="id">Sort by id</button></div>
    </li>
  </ul>
  //-->

  <ul class="tablegroup">
    <div class="tableheader">
    <li class="tablerow">
      <div><button class="sort" data-sort="id">h Sort by id</button></div>
      <div><button class="sort" data-sort="name">h Sort by name</button></div>
      <div><button class="sort" data-sort="type">h Sort by type</button></div>
    </li>
    </div>
    <div class="list tablebody">
    <li class="tablerow">
      <!--<div><button class="sort" data-sort="id">Sort by id</button></div>
      <div><button class="sort" data-sort="name">Sort by name</button></div>
      <div><button class="sort" data-sort="type">Sort by type</button></div>
      //-->
    </li>
    </div>
  </ul>
</div>

<script type="text/javascript">

//var table = document.getElementById("tablelist");

var options = {
  valueNames: [
    'id',
    'name',
    'type',
  ],
  item: '<li class="tablerow"><div class="id"></div><div class="name"></div><div class="type"></div></li>',
  /*sortFunction: function(itemA, itemB, options) {
    return List.utils.naturalSort($(itemA.values()[options.valueName]).val(), $(itemB.values()[options.valueName]).val());
  }*/
  /*
  sortFunction: function(itemA, itemB, options) {
        var sort = list.utils.naturalSort;
        sort.alphabet = list.alphabet || options.alphabet || undefined;
        if (!sort.alphabet && options.insensitive) {
          sort = list.utils.naturalSort.caseInsensitive;
        };
        return sort(itemA.values()[options.valueName], itemB.values()[options.valueName]) * multi;
  };
  */
};


var    itemList = new List('itemlist', options);

function refreshPage() {
var jqxhr = $.getJSON( "/api/v1/healthchecks/", function(data) {
  if (data == null) {
    errorHandler("unable to read data from healthcheck API (no data)")
    return
  }
  if (data.success != true) {
    errorHandler("unable to read data from healthcheck API (success=false)")
    return
  }

  var jsonData = JSON.parse(data.data)

  // go thtough all workers
  $.each(jsonData.Workers, function (i, worker) {

    var health
    // find related worker health
    $.each(jsonData.WorkerHealth, function (h, workerHealth) {
      if (h == worker.UuidStr) {
        health = workerHealth
      }
    });

    /*
    rowData = '<tr id="'+worker.UuidStr+'">' +
    '<td class="id">'+worker.UuidStr+'</td>' +
    '<td class="name">'+worker.NodeName+'</td>' +
    '</tr>'
    */
    item = {'id':worker.UuidStr, 'name':worker.NodeName, 'type':worker.Check[0]}

    existing = itemList.get('id', worker.UuidStr);
      console.log("existing?:"+item)
    //if (document.getElementById(worker.UuidStr)) {
    if (existing.length > 0) {
      // Existing element
      //item = itemList.get('id', worker.UuidStr);
      console.log("existing update:"+item)
      existing[0].values(item);
    } else {
      // New element
      console.log("new:"+item)
      itemList.add(item);
    }
  });
  window.setTimeout(refreshPage, 30000);

})
  .fail(function(jqXHR, textStatus, errorThrown) {
    console.log("error ");
    console.log("error " + textStatus);
  })
}
refreshPage()
window.setTimeout(refreshPage, 30000);

</script>


{{template "footer"}}
{{end}}
