{{define "healthchecks"}}
{{template "header" dict "Page" .Page}}

<div id="itemlist" class="itemlist">
  <div class="searchbox">
   Search: <input type="text" class="search" placeholder="Search Backend" />
  </div>

  <ul class="tablegroup">
    <div class="tableheader">
    <li>
      <div class="sort" data-sort="id">Id</div>
      <div class="sort" data-sort="name">Name</div>
      <div class="sort" data-sort="type">Type</div>
    </li>
    </div>
    <div class="list tablebody">
    <li>
    </li>
    </div>
  </ul>
</div>

<script type="text/javascript">

var options = {
  valueNames: [
    'id',
    'name',
    'type',
  ],
  item: '<li class="tablerow"><div class="id"></div><div class="name"></div><div class="type"></div></li>',
};


var    itemList = new List('itemlist', options);

function refreshPage() {
var jqxhr = $.getJSON( "/api/v1/healthchecks/", function(data) {
  if (data == null) {
    errorHandler("unable to read data from healthcheck API (no data)")
    return
  }
  if (data.success != true) {
    errorHandler("unable to read data from healthcheck API (success=false)")
    return
  }

  var jsonData = JSON.parse(data.data)

  // go thtough all workers
  $.each(jsonData.Workers, function (i, worker) {

    var health
    // find related worker health
    $.each(jsonData.WorkerHealth, function (h, workerHealth) {
      if (h == worker.UuidStr) {
        health = workerHealth
      }
    });

    item = {'id':worker.UuidStr, 'name':worker.NodeName, 'type':worker.Check[0]}

    existing = itemList.get('id', worker.UuidStr);
      console.log("existing?:"+item)
    if (existing.length > 0) {
      // Existing element
      console.log("existing update:"+item)
      existing[0].values(item);
    } else {
      // New element
      console.log("new:"+item)
      itemList.add(item);
    }
  });
  window.setTimeout(refreshPage, 30000);

})
  .fail(function(jqXHR, textStatus, errorThrown) {
    console.log("error ");
    console.log("error " + textStatus);
  })
}
refreshPage()
window.setTimeout(refreshPage, 30000);

</script>


{{template "footer"}}
{{end}}
