{{define "glb"}}
{{template "header" dict "Page" .Page}}

<div id="glb">
  <div class="searchbox">
  Search: <input type="text" class="search" placeholder="Search Entry" />
  </div>
   <table>
     <thead>
       <tr>
         <th class="sort" data-sort="fqdn">FQDN</th>
         <th class="sort" data-sort="type">Type</th>
         <th class="sort" data-sort="ttl">TTL</th>
         <th class="sort" data-sort="target">Target(s)</th>
         <th class="sort" data-sort="status">Status</th>
         <th class="sort" data-sort="requests">Requests</th>
       </tr>
     </thead>
     <tbody class="list">

{{ range $clusternode, $node := .DNS -}}
  {{ range $domainname, $domain := $node.Domains -}}
    {{ range $recordid, $record := $domain.Records -}}
       {{ if eq $record.Local true }}
       <tr>
         <td class="id" style="display:none;">{{$recordid}}</td>
         <td class="fqdn">{{$record.Name}}.{{$domainname}}</td>
         <td class="type">{{$record.Type}}</td>
         <td class="ttl">{{$record.TTL}}</td>
         <td class="target">{{$record.Target}}</td>
         <td class="status {{if $record.Target}}online{{ else }}offline{{end}}">{{if $record.Target}}Online{{ else }}Offline{{end}}</td>
         <td class="requests">{{$record.Statistics.ClientsConnected}}</td>
      </tr>
      {{- end }}
    {{- end }}
  {{- end }}
{{- end }}
</tbody>
</table>
</div>

<script type="text/javascript">
var userList = new List('glb', {
  valueNames: [ 'clusternode', 'fqdn', 'type', 'ttl', 'target', 'method', 'status', 'error' ]
});
</script>


{{template "footer"}}
{{end}}
