{{define "root"}}
{{template "header" dict "Page" .Page}}
<br>
Mercury Version: {{ .ProcessInfo.Version }} Build: {{ .ProcessInfo.VersionBuild }}<br>Golang Version: {{ .ProcessInfo.VersionGo }}<br>Sha: {{ .ProcessInfo.VersionSha }}<br>
<br>
Up since: {{ .ProcessInfo.StartTime }} (up {{ .ProcessInfo.Uptime }})<br>
<br>
Last successfull Reload: {{ .ProcessInfo.ReloadTime }}<br>
Last Failed Reload: {{ .ProcessInfo.FailedReloadTime }}<br>
{{ if .ProcessInfo.FailedReloadError }}
Last Failed Reload Error: {{ .ProcessInfo.FailedReloadError }}<br>
{{end}}

{{template "footer"}}
{{end}}