[Unit]
Description=mercury
After=network.target

[Service]
Environment=
ExecStart=/usr/sbin/mercury -config-file /etc/mercury/mercury.toml -pid-file /run/mercury.pid $OPTIONS
ExecReload=/bin/kill -1 $MAINPID
KillSignal=TERM
User=root
WorkingDirectory=/
Restart=always
LimitNOFILE=16384

[Install]
WantedBy=multi-user.target
