{{define "cluster"}}
{{template "header" dict "Page" .Page}}

<div id="proxy">
  <div class="searchbox">
   Search: <input type="text" class="search" placeholder="Search Cluster" />
  </div>
   <table>
     <thead>
       <tr>
         <th class="sort" data-sort="node">ClusterNode</th>
         <th class="sort" data-sort="remote">Remote Address</th>
         <th class="sort" data-sort="local">Local Address</th>
         <th class="sort" data-sort="lag">Lag</th>
         <th class="sort" data-sort="packets">Packets</th>
         <th class="sort" data-sort="joined">Joined</th>
       </tr>
     </thead>
     <tbody class="list">
{{ range $nodeid, $node := .ClusterNodes -}}
  <tr>
    <td class="id" style="display:none;">0</td>
    <td class="node">{{$node.Name}}</td>
    <td class="remote">{{$node.Conn.RemoteAddr}}</td>
    <td class="local">{{$node.Conn.LocalAddr}}</td>
    <td class="lag">{{$node.Statistics.Lag}}</td>
    <td class="packets">{{$node.Statistics.Packets}}</td>
    <td class="joined">{{$node.Statistics.Join.Format "02-Jan-2006 15:04"}}</td>
 </tr>
{{- end }}

</tbody>
</table>
</div>

<script type="text/javascript">
var userList = new List('backends', {
  valueNames: [ 'node', 'lag' ]
});
</script>


{{template "footer"}}
{{end}}
